header{
    width: 100%;
}
.navegacion{
    display: flex;
    width: 90%;
    height: 65px;
    justify-content: space-between;
}
.bloque-logo{
    display: flex;
}
.bloque-logo img{
    margin-left: 1.5rem;
    margin-top: 2rem;
    height: 16.33px;
    width: 22.74px;
}
.bloque-logo h2{
    margin-top: 2rem;
    color: #464646;
    font-weight: 700;
}
.bloque-logo b{
    color: #2A7AE4;
}
/*boton*/
.bloque-button{
    margin-top: 1rem;
}
.bloque-button button{
    color: #2A7AE4;
    margin-right: 1rem;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 1px solid #2A7AE4;
    font-weight: 600;
    background: #ffffff;
}
/*barra de busqueda*/
.bloque-nav img{
    margin-top: 2rem;
}


