html{
    scroll-behavior: smooth;
    animation-duration: 1000ms;
}
body{
    font-family: 'Raleway', sans-serif;
}
button{
    transition: 0.5s all;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}